In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("diabetes.csv")

In [3]:
data.shape

(768, 9)

In [4]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [7]:
# 4 import the datasets into train test split on the ratio of 80:20
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [8]:
X_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
668,6,98,58,33,190,34.0,0.430,43
324,2,112,75,32,0,35.7,0.148,21
624,2,108,64,0,0,30.8,0.158,21
690,8,107,80,0,0,24.6,0.856,34
473,7,136,90,0,0,29.9,0.210,50

In [9]:
y_train.head()

60     0
618    1
346    0
294    0
231    1
Name: Outcome, dtype: int64

In [10]:
from sklearn.ensemble import GradientBoostingClassifier
gradient_booster=GradientBoostingClassifier(learning_rate=0.1)

In [11]:
gradient_booster.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': None,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [12]:
gradient_booster=GradientBoostingClassifier(n_estimators=1000,learning_rate=0.1,max_depth=5,random_state=0)
gradient_booster.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 5,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 1000,
 'n_iter_no_change': None,
 'random_state': 0,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [13]:
from sklearn.metrics import classification_report
gradient_booster.fit(X_train,y_train)
print(classification_report(y_test,gradient_booster.predict(X_test)))

              precision    recall  f1-score   support

           0       0.80      0.75      0.77        99
           1       0.60      0.67      0.63        55

    accuracy                           0.72       154
   macro avg       0.70      0.71      0.70       154
weighted avg       0.73      0.72      0.72       154

In [15]:
learning_rate=[0.1,0.2,0.3,0.4,0.05,0.06,0.07,0.08,0.09]
max_depth=[2,3,4,6,7,8,9,11,12,13,14]
lst=[]
for lr in learning_rate:
    for md in max_depth:
        
        gradient_booster=GradientBoostingClassifier(n_estimators=20,learning_rate=lr,max_depth=md,max_features=2,random_state=0)
        gradient_booster.fit(X_train,y_train)
        lst.append([lr,md,gradient_booster.score(X_test,y_test)])

In [16]:
df=pd.DataFrame(lst,columns=["learning_rate","max_depth","Accuracy"])

In [17]:
df

    learning_rate  max_depth  Accuracy
0            0.10          2  0.772727
1            0.10          3  0.779221
2            0.10          4  0.759740
3            0.10          6  0.746753
4            0.10          7  0.727273
..            ...        ...       ...
94           0.09          9  0.740260
95           0.09         11  0.733766
96           0.09         12  0.759740
97           0.09         13  0.772727
98           0.09         14  0.766234

[99 rows x 3 columns]

In [18]:
df.sort_values(by=["Accuracy"],ascending=False)

    learning_rate  max_depth  Accuracy
57           0.06          4  0.811688
46           0.05          4  0.805195
89           0.09          3  0.805195
78           0.08          3  0.798701
68           0.07          4  0.792208
..            ...        ...       ...
13           0.20          4  0.707792
35           0.40          4  0.701299
15           0.20          7  0.701299
25           0.30          6  0.694805
16           0.20          8  0.688312

[99 rows x 3 columns]